<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<span th:fragment="truncateText(text)" class="text-truncate d-block"
      data-bs-toggle="tooltip" th:data-bs-title="${text}">
    [[${text}]]
</span>

<th:block th:fragment="formatInteger(number)">
    [[${T(com.github.dcysteine.nesql.server.common.util.NumberUtil).formatInteger(number)}]]
</th:block>

<th:block th:fragment="formatBoolean(bool)">
    <i th:if="${bool}" class="bi-check-square"></i>
    <i th:if="${!bool}" class="bi-x-square"></i>
</th:block>
</body>
</html>
