<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="icon(icon)" class="icon-container">
    <img th:attr="src=|/image/${icon.image}|" class="icon img-thumbnail"
         data-bs-toggle="tooltip" th:data-bs-title="${icon.description}"/>

    <span th:if="${icon.topLeft}" class="icon-overlay top-left">
        [[${icon.topLeft}]]
      </span>

    <span th:if="${icon.bottomRight}" class="icon-overlay bottom-right">
        [[${icon.bottomRight}]]
      </span>

    <img th:if="${icon.bottomLeftImage}" th:attr="src=|/image/${icon.bottomLeftImage}|"
         class="icon-overlay bottom-left"/>
</div>

<a th:fragment="linkIcon(icon)" th:href="@{${icon.url}}" class="text-decoration-none">
    <div th:replace="~{fragment/icon::icon(${icon})}"></div>
</a>

<div th:fragment="iconRow(icon)"
     class="row align-items-center">
    <div class="col-auto">
        <img th:replace="~{fragment/icon::icon(${icon})}"/>
    </div>
    <div class="col">
        <h1 class="display-6">[[${icon.description}]]</h1>
    </div>
</div>

<div th:fragment="iconRowCentered(icon)"
     class="row justify-content-center align-items-center">
    <div class="col-auto">
        <img th:replace="~{fragment/icon::icon(${icon})}"/>
    </div>
    <div class="col-auto">
        <h1 class="display-6">[[${icon.description}]]</h1>
    </div>
</div>

<a th:fragment="linkIconRow(icon)" th:href="@{${icon.url}}" class="text-decoration-none">
    <div th:replace="~{fragment/icon::iconRow(${icon})}"></div>
</a>

<a th:fragment="linkIconRowCentered(icon)" th:href="@{${icon.url}}" class="text-decoration-none">
    <div th:replace="~{fragment/icon::iconRowCentered(${icon})}"></div>
</a>

<table th:fragment="iconTable(rows)" class="table table-striped border">
    <tr th:each="row : ${rows}">
        <td>
            <a th:replace="~{fragment/icon::linkIconRow(${row})}"></a>
        </td>
    </tr>
    <tr th:if="${#lists.isEmpty(rows)}" class="text-center">
        <td>
            <i class="bi-x-lg fs-1"></i>
        </td>
    </tr>
</table>
</body>
</html>
