<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="recipeGridTable(table, dimension)" class="d-flex justify-content-center">
    <table class="recipe-grid-table" th:if="${dimension.height} > 0">
        <tr th:each="r,rStat: ${#numbers.sequence(1, dimension.height)}">
            <td th:each="c,cStat: ${#numbers.sequence(1, dimension.width)}"
                th:class="${rStat.odd} == ${cStat.odd}? 'recipe-grid-shaded'">
                <th:block th:if="${table.contains(r - 1, c - 1)}">
                    <a th:replace="~{fragment/icon::linkIcon(${table.get(r - 1, c - 1)})}">
                    </a>
                </th:block>
            </td>
        </tr>
    </table>
    <span th:if="${dimension.height} == 0" class="text-center">
        <i class="bi-x-lg fs-1"></i>
    </span>
</div>
</body>
</html>
