<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="searchField(name, label, type)">
    <label th:for="${name}" class="form-label">[[${label}]]</label>
    <input th:id="${name}" th:name="${name}" th:type="${type}" class="form-control"
           th:value="${@thymeleafService.request.getParameter(name)}">
</th:block>

<th:block th:fragment="searchFieldRegex(name, label)">
    <label th:for="${name}" class="form-label">
        [[${label}]]
        <i th:replace="~{fragment/info::regex}"></i>
    </label>
    <input th:id="${name}" th:name="${name}" th:type="search" class="form-control"
           th:value="${@thymeleafService.request.getParameter(name)}">
</th:block>

<th:block th:fragment="searchFieldNumber(name, label)">
    <label th:for="${name}" class="form-label">
        [[${label}]]
        <i th:replace="~{fragment/info::number}"></i>
    </label>
    <input th:id="${name}" th:name="${name}" th:type="number" class="form-control"
           th:value="${@thymeleafService.request.getParameter(name)}">
</th:block>

<button th:fragment="searchButton" type="submit" class="search-button btn btn-primary">
    <span class="spinner-border spinner-border-sm visually-hidden" role="status" aria-hidden="true">
    </span>
    <i class="bi-search"></i>
    Search
</button>

<div th:fragment="paginatedTableList(page, baseUri)" class="container">
    <div th:replace="~{fragment/search::paginationControls(${page}, ${baseUri})}"></div>
    <div class="row">
        <table class="table table-striped border">
            <tr th:each="row : ${page.content}">
                <td>
                    <a th:replace="~{fragment/icon::linkOverlayIconRow(${row})}"></a>
                </td>
            </tr>
            <tr th:if="${#lists.isEmpty(page.content)}" class="text-center">
                <td>
                    <i class="bi-x-lg fs-1"></i>
                </td>
            </tr>
        </table>
    </div>
    <div th:replace="~{fragment/search::paginationControls(${page}, ${baseUri})}"></div>
</div>

<div th:fragment="paginatedTableGrid(page, baseUri)" class="container">
    <div th:replace="~{fragment/search::paginationControls(${page}, ${baseUri})}"></div>
    <div class="row">
        <table class="table table-striped border"
               th:with="partitions = ${@thymeleafService.partitionGrid(page.content)}">
            <tr th:each="row : ${partitions}">
                <td th:each="cell : ${row}">
                    <a th:replace="~{fragment/icon::linkOverlayIcon(${cell})}"></a>
                </td>
            </tr>
            <tr th:if="${#lists.isEmpty(partitions)}" class="text-center">
                <td>
                    <i class="bi-x-lg fs-1"></i>
                </td>
            </tr>
        </table>
    </div>
    <div th:replace="~{fragment/search::paginationControls(${page}, ${baseUri})}"></div>
</div>

<!-- Note: unlike the other layouts, this one expects DisplayRecipe instead of Icon. -->
<div th:fragment="paginatedTableRecipe(page, baseUri)" class="container">
    <div th:replace="~{fragment/search::paginationControls(${page}, ${baseUri})}"></div>
    <div class="row">
        <table class="table table-striped border">
            <tr th:each="row : ${page.content}" class="text-center align-middle">
                <td>
                    <div class="d-flex justify-content-center align-middle">
                        <a th:replace="~{fragment/icon::linkOverlayIcon(${row.icon})}"></a>
                        <i class="bi-chevron-compact-right fs-1"></i>
                    </div>
                </td>
                <td>
                    <div th:replace="~{fragment/recipe::recipeGridTable(${row.itemInputs},${row.recipe.recipeType.itemInputDimension})}">
                    </div>
                </td>
                <td>
                    <div th:replace="~{fragment/recipe::recipeGridTable(${row.fluidInputs},${row.recipe.recipeType.fluidInputDimension})}">
                    </div>
                </td>
                <td>
                    <i class="bi-shuffle fs-1" th:if="${row.recipe.recipeType.shapeless}"
                       data-bs-toggle="tooltip" data-bs-title="Shapeless recipe">
                    </i>
                    <i class="bi-arrow-right fs-1" th:if="!${row.recipe.recipeType.shapeless}"
                       data-bs-toggle="tooltip" data-bs-title="Shaped recipe">
                    </i>
                </td>
                <td>
                    <div th:replace="~{fragment/recipe::recipeGridTable(${row.itemOutputs},${row.recipe.recipeType.itemOutputDimension})}">
                    </div>
                </td>
                <td>
                    <div th:replace="~{fragment/recipe::recipeGridTable(${row.fluidOutputs},${row.recipe.recipeType.fluidOutputDimension})}">
                    </div>
                </td>
            </tr>
            <tr th:if="${#lists.isEmpty(page.content)}" class="text-center">
                <td>
                    <i class="bi-x-lg fs-1"></i>
                </td>
            </tr>
        </table>
    </div>
    <div th:replace="~{fragment/search::paginationControls(${page}, ${baseUri})}"></div>
</div>

<div th:fragment="paginationControls(page, baseUri)"
     th:with="pageNumber=${page.number} + 1"
     class="row align-items-baseline">
    <div class="col">
        Page
        <th:block th:replace="~{fragment/format::formatInteger(${pageNumber})}"></th:block>
        of
        <th:block th:replace="~{fragment/format::formatInteger(${page.totalPages})}"></th:block>
        |
        <th:block th:replace="~{fragment/format::formatInteger(${page.totalElements})}"></th:block>
        total results
    </div>
    <div class="col-auto">
        <form method="get">
            <input type="hidden" th:name="${name}"
                   th:value="${@thymeleafService.request.getParameter(name)}"
                   th:each="name : ${@thymeleafService.request.getParameterNames()}"
                   th:if="${name} != 'page'">

            <div class="input-group">
                <span class="input-group-text">Page</span>
                <input name="page" type="number" class="form-control text-end"
                       th:value="${pageNumber}">
                <span class="input-group-text">
                    /
                    <th:block th:replace="~{fragment/format::formatInteger(${page.totalPages})}">
                    </th:block>
                </span>
                <button type="submit" class="btn btn-primary">
                    <i class="bi-arrow-up-right"></i>
                </button>
            </div>
        </form>
    </div>
    <div class="col-auto">
        <nav aria-label="Table pagination controls">
            <ul class="pagination">
                <li class="page-item"
                    th:classappend="!${page.hasPrevious}? 'disabled'"
                    th:tabindex="!${page.hasPrevious}? '-1'">
                    <a class="page-link" aria-label="Previous"
                       th:href="@{${baseUri}(page=${pageNumber} - 1)}">
                        <i class="bi-arrow-left"></i>
                    </a>
                </li>
                <li class="page-item disabled" tab-index="-1">
                    <a class="page-link" href="#">
                        <span th:replace="~{fragment/format::formatInteger(${pageNumber})}"></span>
                    </a>
                </li>
                <li class="page-item"
                    th:classappend="!${page.hasNext}? 'disabled'"
                    th:tabindex="!${page.hasNext}? '-1'">
                    <a class="page-link" href="#" aria-label="Next"
                       th:href="@{${baseUri}(page=${pageNumber} + 1)}">
                        <i class="bi-arrow-right"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>
