<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header(title)">
    <!-- Apparently, needed to allow Bootstrap to support mobile devices. -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title th:replace="${title}"></title>

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <script type="text/javascript" src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/bootstrap-icons/bootstrap-icons.css">

    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>
<body>
<nav th:fragment="navBar" class="navbar navbar-expand-lg bg-body-secondary mb-3">
    <div class="container-fluid">
        <div class="row w-100 justify-content-around align-items-center">
            <div class="col-3">v[[${@externalConfig.version}]]</div>
            <div class="col-auto">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{~/index}">
                            Index
                        </a>
                    </li>
                    <li th:each="table : ${@thymeleafService.navBarTables}" class="nav-item">
                        <a class="nav-link" th:href="@{${table.searchUrl}}">
                            [[${table.name}]]
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-3">
                <form action="/idsearch" method="get">
                    <div class="input-group">
                        <span class="input-group-text">Any ID</span>
                        <input name="id" type="search" class="form-control">
                        <button type="submit" class="btn btn-primary">
                            <i class="bi-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</nav>

<script th:fragment="includeJs(fileName)" type="text/javascript" th:src="|/js/${fileName}.js|">
</script>

<th:block th:fragment="footer">
    <script th:replace="~{fragment/template_base::includeJs('initialize_tooltips')}"></script>
    <script th:replace="~{fragment/template_base::includeJs('initialize_popovers')}"></script>
    <script th:replace="~{fragment/template_base::includeJs('initialize_offcanvas')}"></script>

    <script th:replace="~{fragment/template_base::includeJs('image_error_handler')}"></script>
    <script th:replace="~{fragment/template_base::includeJs('copy_button')}"></script>
    <script th:replace="~{fragment/template_base::includeJs('search_button')}"></script>
</th:block>
</body>
</html>
