<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header(title)">
  <!-- Apparently, needed to allow Bootstrap to support mobile devices. -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title th:text="${title}"></title>

  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <script type="text/javascript" src="/bootstrap/js/bootstrap.bundle.min.js"></script>

  <script type="text/javascript" src="/htmx/htmx.min.js"></script>

  <link rel="stylesheet" href="/css/main.css">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>
<body>
<ul th:fragment="navBar(active)" class="nav justify-content-center mb-3">
  <li class="nav-item border-bottom border-info">
    <a class="nav-link" th:classappend="${active} == 'index'? 'active'" th:href="@{~/index}">
      Index
    </a>
  </li>
  <li class="nav-item border-bottom border-info">
    <a class="nav-link" th:classappend="${active} == 'item'? 'active'"
       th:href="@{~/item/search}">
      Items
    </a>
  </li>
  <li class="nav-item border-bottom border-info">
    <a class="nav-link" th:classappend="${active} == 'fluid'? 'active'"
       th:href="@{~/fluid/search}">
      Fluids
    </a>
  </li>
  <li class="nav-item border-bottom border-info">
    <a class="nav-link" th:classappend="${active} == 'itemgroup'? 'active'"
       th:href="@{~/itemgroup/search}">
      Item Groups
    </a>
  </li>
  <li class="nav-item border-bottom border-info">
    <a class="nav-link" th:classappend="${active} == 'fluidgroup'? 'active'"
       th:href="@{~/fluidgroup/search}">
      Fluid Groups
    </a>
  </li>
  <li class="nav-item border-bottom border-info">
    <a class="nav-link" th:classappend="${active} == 'recipe'? 'active'" th:href="@{~/recipe/search}">
      Recipes
    </a>
  </li>
</ul>

<a th:fragment="linkOverlayIcon(icon)" th:href="@{${icon.url}}" class="text-decoration-none">
  <div th:replace="~{fragment::overlayIcon(${icon})}"></div>
</a>

<div th:fragment="overlayIcon(icon)" class="icon-container">
  <img th:attr="src=|/image/${icon.imageFilePath}|" class="icon img-thumbnail"
       data-bs-toggle="tooltip" th:data-bs-title="${icon.description}" />

  <span th:if="${icon.topLeft}" class="icon-overlay top-left">
      [[${icon.topLeft}]]
    </span>

  <span th:if="${icon.bottomRight}" class="icon-overlay bottom-right">
      [[${icon.bottomRight}]]
    </span>
</div>

<a th:fragment="linkOverlayIconRow(icon)" th:href="@{${icon.url}}" class="text-decoration-none">
  <div th:replace="~{fragment::overlayIconRow(${icon})}"></div>
</a>

<div th:fragment="overlayIconRow(icon)"
     class="row d-flex align-items-center">
  <div class="col-auto">
    <img th:replace="~{fragment::overlayIcon(${icon})}" />
  </div>
  <div class="col">
    <h1 class="display-6">[[${icon.description}]]</h1>
  </div>
</div>

<div th:fragment="overlayIconRowCentered(icon)"
     class="row d-flex justify-content-center align-items-center">
  <div class="col-auto">
    <img th:replace="~{fragment::overlayIcon(${icon})}" />
  </div>
  <div class="col-auto">
    <h1 class="display-6">[[${icon.description}]]</h1>
  </div>
</div>

<table th:fragment="overlayIconTable(rows)" class="table table-striped border">
  <tr th:each="row : ${rows}">
    <td>
      <a th:replace="~{fragment::linkOverlayIconRow(${row})}"></a>
    </td>
  </tr>
  <tr th:if="${#lists.isEmpty(rows)}">
    <td>
      No rows in table
    </td>
  </tr>
</table>

<div th:fragment="recipeGridTable(table, dimension)" class="d-flex justify-content-center my-5">
  <th:block th:if="${dimension.height} > 0">
    <table class="recipe-grid-table">
      <tr th:each="r,rStat: ${#numbers.sequence(1, dimension.height)}">
        <td th:each="c,cStat: ${#numbers.sequence(1, dimension.width)}"
            th:class="${rStat.odd} == ${cStat.odd}? 'recipe-grid-shaded'">
          <th:block th:if="${table.contains(r - 1, c - 1)}">
            <a th:replace="~{fragment::linkOverlayIcon(${table.get(r - 1, c - 1)})}"></a>
          </th:block>
        </td>
      </tr>
    </table>
  </th:block>
  <h1 th:if="${dimension.height} == 0" class="display-6 text-center">
    No rows in table
  </h1>
</div>

<div th:fragment="paginatedTable(page, baseUri)" class="container">
  <div th:replace="~{fragment::paginationControls(${page}, ${baseUri})}"></div>
  <div class="row">
    <table class="table table-striped border">
      <tr th:each="row : ${page.content}">
        <td>
          <a th:replace="~{fragment::linkOverlayIconRow(${row})}"></a>
        </td>
      </tr>
      <tr th:if="${#lists.isEmpty(page.content)}">
        <td>
          No rows in table
        </td>
      </tr>
    </table>
  </div>
  <div th:replace="~{fragment::paginationControls(${page}, ${baseUri})}"></div>
</div>

<div th:fragment="paginationControls(page, baseUri)"
     th:with="pageNumber=${page.number} + 1"
     class="row d-flex justify-content-end align-items-baseline">
  <div class="col justify-content-center">
    Page [[${pageNumber}]] of [[${page.totalPages}]] | [[${page.totalElements}]] total results
  </div>
  <div class="col-auto">
    <nav aria-label="Table pagination controls">
      <ul class="pagination">
        <li class="page-item"
            th:classappend="!${page.hasPrevious}? 'disabled'"
            th:tabindex="!${page.hasPrevious}? '-1'">
          <a class="page-link" aria-label="Previous"
             th:href="@{${baseUri}(page=${pageNumber} - 1)}">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item disabled" tab-index="-1">
          <a class="page-link" href="#">
            <span aria-hidden="true">[[${pageNumber}]]</span>
          </a>
        </li>
        <li class="page-item"
            th:classappend="!${page.hasNext}? 'disabled'"
            th:tabindex="!${page.hasNext}? '-1'">
          <a class="page-link" href="#" aria-label="Next"
             th:href="@{${baseUri}(page=${pageNumber} + 1)}">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<script th:fragment="includeJs(fileName)" type="text/javascript" th:src="|/js/${fileName}.js|">
</script>

<th:block th:fragment="footer">
  <script th:replace="~{fragment::includeJs('image_error_handler')}"></script>
  <script th:replace="~{fragment::includeJs('initialize_tooltips')}"></script>
  <script th:replace="~{fragment::includeJs('initialize_popovers')}"></script>
  <script th:replace="~{fragment::includeJs('initialize_offcanvas')}"></script>
</th:block>
</body>
</html>